.chat{
    height: 85vh;
    position: relative;
}

.chat .input-messages{
    font-size: 1.3em;
    position: absolute;
    bottom: 0;
    max-height: 60%;
    overflow-y: scroll;
    width: 100%;
}
